<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MecaShop
    link(rel="stylesheet", href="/public/vendors/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style/global.css")
    link(rel="stylesheet", href="/style/animated.css")
    link(rel="stylesheet", href="/style/estilo.css")
    link(rel="icon" type="image/png" href="images/Index.png")
    block extra_css
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top(id="navarizado")
      a.navbar-brand(href='./') MecaShop
        img.img-logo(src="images/Index.png")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='.')
              | Inicio 
              span.sr-only (current)
          li#btnAdmin.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              span Administración
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='./musers') Usuarios
              a.dropdown-item(href='#') Cupones
              a.dropdown-item(href='#') Pedidos
          
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              span#nombrePerfil
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Información
              a.dropdown-item(href='#') Pendientes
              .dropdown-divider
              a.dropdown-item(href='./login') Salir
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='¿Qué tienes en mente?', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
    section
      .row(styke="position:absolute;")
        .col-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2.col-lg-8.offset-lg-2.col-xl-10.offset-xl-1
          //h1(style="text-align : center") MecaShop
          block content
    script(src="/public/vendors/jquery/jquery-3.4.1.min.js")
    script(src="/public/vendors/bootstrap/js/bootstrap.min.js")
    script(src="/public/vendors/sweetalert2/dist/sweetalert2.all.min.js")
    script.
      if (getCookie("id")==="") {
        window.location.href = "./login";
      } else {
        $("#nombrePerfil").html(getCookie("nombre"))

        // validamos si es un administrador
        if (getCookie("typeAcc")!=="2"){
          $("#btnAdmin").hide();
        }
      }

      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      function tipoCuenta(val){
        switch(val){
          case 0:
            return "Estandar";
            break;
          case 1:
            return "Socio";
            break;
          case 2:
            return "Administrador";
            break;
        }
      }

      function estatusACC(val){
        switch(val){
          case 0:
            return "Inactivo";
            break;
          case 1:
            return "Activo";
            break;
        }
      }
      

    block extra_js
