<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MecaShop
    link(rel="stylesheet", href="/public/vendors/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style/global.css")
    block extra_css
    body
      form.js-form.col-12.col(style="text-align : center;margin-top:100px; display:none;")
        .form-group.card
          h1 Iniciar Sesión
          label
            strong Usuario:
          input.js-user-value.form-control.col-6.offset-3(type="text", style="text-align:center;" id="txtUser")
          label
            strong Contraseña:
          input.js-pass-value.form-control.col-6.offset-3(type="password", style="text-align:center;" id="txtPass")
          button.btn.btn-primary.btn-block.mt-3.col-4.offset-4(type="button", style="margin-bottom:15px;" id="btnLogin") Iniciar
        
        .form-group
          label
            strong No tienes una cuenta? 
              a(href="http://localhost:2525/registro") Registrate gratis!
      script(src="/public/vendors/jquery/jquery-3.4.1.min.js")
      script(src="/public/vendors/bootstrap/js/bootstrap.min.js")
      script(src="/public/vendors/sweetalert2/dist/sweetalert2.all.min.js")
      
      
      
      //Aqui es el tema del login
      script.
        $(document).ready(function(){
          $(".js-form").fadeIn(1000);

          $("#btnLogin").click(function(){
            $.ajax({
              data: {
                user: $("#txtUser").val(),
                pass: $("#txtPass").val(),
              },
              method: 'POST',
              url: 'http://localhost:2525/logines',
              success: function(datos){
                console.log(datos.logines);
                console.log(datos.logines.length);

                if (datos.logines.length > 0) {
                  setLogin(datos.logines[0].id, datos.logines[0].usuario, datos.logines[0].nombre);

                  window.location.href = "http://localhost:2525";

                } else {
                  Swal.fire(
                    'Usuraio o contraseña invalido',
                    'Reintentar',
                    'warning'
                  );
                }
              }
            });
          });
        });

        function setLogin(_id, _usuario, _nombre) {
          var d = new Date();
          d.setTime(d.getTime() + (60*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = "id ="+_id+";" + expires + ";path=/";
          document.cookie = "usuario ="+_usuario+";" + expires + ";path=/";
          document.cookie = "nombre ="+_nombre+";" + expires + ";path=/";
        }