extends base.pug

block content
  form.js-form.col-12.col(style="text-align : center;margin-top:60px;")
    span.text-muted
      strong ¡Hola! ¿Cómo puedo ayudarte?
    .form-group.card
      h1 ¡Mira estas ofertas!
    .row(id="js_ofertas")

block extra_js
  script.
    $(document).ready(function(){
      //alert('Se ejecuta bien');
      //$("#js_ofertas").empty();
        if (getCookie("id")==="") {
          window.location.href = "./login";
        }

        $.ajax({
        data: {
        },
        url: './cupones',
        method: 'POST',
        
        success: function(datos){
          console.log(datos.cupones);
          console.log(datos.cupones.length);
          var i = 0;
          $("#js_ofertas").hide();
          while (i < datos.cupones.length){
            console.log(datos.cupones[i]);
            $("#js_ofertas").append(
              `<div class="card col-12 col-sm-12 col-md-6 col-lg-4 cardinfo-css" style="position:static;">
                <div class="row">
                  <div class="col-4">
                    <img class="img-card-css" src="images/${datos.cupones[i].imagen}">
                  </div>
                    <div class="col-8">
                      <h3 class="title-css">${datos.cupones[i].title}</h3>
                      <h5>${datos.cupones[i].desc}</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="text-muted" style="font-size : 10px">${datos.cupones[i].param}</p>
                    </div>
                  </div>
                </div>`
            );
            i++;
          }
          $("#js_ofertas").fadeIn(500);
        }
      });
    });

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
    