extends base.pug

block content
  form.js-form.col-12.col(style="text-align : center;margin-top:60px;")
    .form-group.card
      h1 Nuestros Servicios
    .row(id="js_ofertas")

block extra_js
  script.
    $(document).ready(function(){
      //alert('Se ejecuta bien');
      //$("#js_ofertas").empty();

        $.ajax({
        data: {
        },
        url: './services',
        method: 'POST',
        
        success: function(datos){
          console.log(datos.service);
          console.log(datos.service.length);
          var i = 0;
          $("#js_ofertas").hide();
          while (i < datos.service.length){
            console.log(datos.service[i]);
            $("#js_ofertas").append(
              `<div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="menu-item-css" style="background-image:url(images/service/${datos.service[i].title}.jpg);">
                  <div class="row" onclick="viewServices('${datos.service[i].id}')">
                      <div class="col-8 offset-2 mt-5 mb-5 cardinfo-css card">
                        <h4 class="title-css">${datos.service[i].title}</h4>
                        <h5>${datos.service[i].desc}</h5>
                      </div>
                    </div>
                  </div>
                </div>`
            );
            i++;
          }
          $("#js_ofertas").fadeIn(500);
        }
      });
    });

    function viewServices(idServ){
      localStorage.setItem("idServ", idServ);

      window.location.href = "./prestaserv";
      //alert(idServ);
      /*$.ajax({
        data: {
          ids: idServ,
        },
        url: './servxuser',
        method: 'POST',

        success: function(datos){
          console.log(datos.servxuserF);

          if (datos.servxuserF !== undefined){
            
          }
        }
      })*/
    }
    