<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MecaShop
    link(rel="stylesheet", href="/public/vendors/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style/global.css")
    link(rel="icon" type="image/png" href="images/Index.png")
    block extra_css
    body(style="background-color:dimgray")
      form.js-form.col-10.offset-1.col-sm-8.offset-sm-2.col-md-8.offset-md-2.col-lg-10.offset-lg-1.col-lx-10.offset-lx-1(style="text-align : center;margin-top:15px; display:none;")
        .form-group.card
          h1 Registra un nuevo perfil
          .row
            .col-12.col-sm-12.col-md-6.col-lg-4
              label
                strong Socio:
              input.js-user-value.form-control.col-10.offset-1(type="text", style="text-align:center;" id="txtTitulo")
          .row
            .col-12.col-sm-12.col-md-6.col-lg-4
              label
                strong Servicio:
              input.js-email-value.form-control.col-10.offset-1(type="text", style="text-align:center;" id="txtDescripcion")
          br
          button.btn.btn-primary.btn-block.mt-3.col-6.offset-3(type="button", style="margin-bottom:15px;" id="btnSave") Guardar
          a(href="./mservices"): button.btn.btn-primary.btn-block.mt-3.col-6.offset-3(type="button", style="margin-bottom:15px;" id="btnCancel") Cancelar
      script(src="/public/vendors/jquery/jquery-3.4.1.min.js")
      script(src="/public/vendors/bootstrap/js/bootstrap.min.js")
      script(src="/public/vendors/sweetalert2/dist/sweetalert2.all.min.js")
      
          
      //Aqui es el tema del login
      script.
        $(document).ready(function(){
          $(".js-form").fadeIn(1000);

          $("#btnSave").click(function(){
            
            if (($("#txtSocio").val() === "") || ($("#txtServicio").val() === "")){
              Swal.fire(
                'Informacion incompleta o errada',
                'Complete el formulario',
                'warning'
              )
            } else {
              //if ( $("#txtSocio").val() === $("#txtServicio").val() ) {
              //  Swal.fire(
               //   'La descripcion debe ser distinta al titulo del servicio',
              //    'Favor revisar',
              //    'Warning'
              //  )
              //  $("#txtDescripcion").focus();
              //} else {
                // SI ENTRA HASTA AQUI PERO NO EJECUTA EL AJAX
                $.ajax({
                  data: {
                    socio: $("#txtSocio").val(),
                    servicio: $("#txtServicio").val(),
                  },
                  method: 'POST',
                  url: './registrar_perfil',
                  success: function(datos){
                    Swal.fire(
                      'Perfil creado con éxito',
                      'Listo',
                      'success'
                      ).then((value)=>{
                        window.location.href = "./mperfiles";
                      });
                  }
                });
              //}
              
            }
          });
        });

