.title-css{
    color : #FE7D43;
}

.cardinfo-css{
    opacity: 0.8;
}

.cardinfo-css:hover{
    cursor: pointer;
    opacity: 1.0;
}

.img-card-css{
    width : 100%;
    border-radius: 15%;
}

.img-logo{
    width : 35px;
}

.menu-item-css{
    background-size: cover;
    margin:5px;
    position:static; 
    border-radius: 5px;
}